[client]
user=test
password=111111
host=127.0.0.1
[mysqld]
basedir=/usr/local/mysql
init-file=/usr/local/mysql/mysql-init
default_authentication_plugin=mysql_native_password
server-id=10
session_track_schema=1
session_track_state_change=1
session_track_system_variables="*"
gtid-mode=on
enforce_gtid_consistency=on
secure_file_priv=
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# PLUGINS
plugin_load = "rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so;group_replication=group_replication.so;clone=mysql_clone.so"

