# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
.DS_Store
behave_dble/dble_conf/.DS_Store
behave_dble/dble_conf/sql_cover/.DS_Store
features/.DS_Store
drivers/jdbc-api-test/target
drivers/java-interface/dbletest/
