version: '2'
networks:
  default:
    external:
       name: dble_test
services:
    dble-1:
        image: dble_test_general:latest
        container_name: dble-1
        hostname: dble-1
        privileged: true
        stdin_open: true
        tty: true
        command: ["dble","1"]
        volumes:
            - /opt/dble-1:/init_assets
        ports:
            - "7131:8066"
            - "7141:3306"
            - "7151:22"
        networks:
            default:
              ipv4_address: 172.100.9.1
        dns: 114.114.114.114
        working_dir: /opt
    dble-2:
        image: dble_test_general:latest
        container_name: dble-2
        hostname: dble-2
        privileged: true
        stdin_open: true
        tty: true
        command: ["dble","2"]
        volumes:
            - /opt/dble-2:/init_assets
        ports:
            - "7132:8066"
            - "7142:3306"
            - "7152:22"
        networks:
            default:
              ipv4_address: 172.100.9.2
        dns: 114.114.114.114
        working_dir: /opt
    dble-3:
        image: dble_test_general:latest
        container_name: dble-3
        hostname: dble-3
        privileged: true
        stdin_open: true
        tty: true
        command: ["dble","3"]
        volumes:
            - /opt/dble-3:/init_assets
        ports:
            - "7133:8066"
            - "7143:3306"
            - "7153:22"
        networks:
            default:
              ipv4_address: 172.100.9.3
        dns: 114.114.114.114
        working_dir: /opt
    mysql:
        image: dble_test_general:latest
        container_name: mysql
        hostname: mysql
        privileged: true
        stdin_open: true
        tty: true
        command: ["mysql","4"]
        volumes:
            - /opt/mysql:/init_assets
        ports:
            - "7144:3306"
            - "7154:22"
        networks:
            default:
              ipv4_address: 172.100.9.4
        dns: 114.114.114.114
        working_dir: /opt
    mysql-master1:
        image: dble_test_general:latest
        container_name: mysql-master1
        hostname: mysql-master1
        privileged: true
        stdin_open: true
        command: ["mysql","5"]
        tty: true
        volumes:
            - /opt/mysql-master1:/init_assets
        ports:
            - "7145:3306"
            - "7155:22"
        networks:
            default:
              ipv4_address: 172.100.9.5
        dns: 114.114.114.114
        working_dir: /opt
    mysql-master2:
        image: dble_test_general:latest
        container_name: mysql-master2
        hostname: mysql-master2
        privileged: true
        stdin_open: true
        command: ["mysql","6"]
        tty: true
        volumes:
            - /opt/mysql-master2:/init_assets
        ports:
            - "7146:3306"
            - "7156:22"
        networks:
            default:
              ipv4_address: 172.100.9.6
        dns: 114.114.114.114
        working_dir: /opt
    c-plus-driver:
        image: docker-registry:5000/actiontech/dble_test_driver
        container_name: driver-test
        hostname: driver-test
        privileged: true
        stdin_open: true
        tty: true
        volumes:
            - /opt/c-plus-driver:/init_assets
        networks:
            default:
              ipv4_address: 172.100.9.7
        dns: 114.114.114.114
        working_dir: /opt
    behave:
        image: dble_test_client:latest
        container_name: behave
        hostname: behave
        privileged: true
        stdin_open: true
        tty: true
        volumes:
            - /opt/behave:/init_assets
        networks:
            default:
              ipv4_address: 172.100.9.8
        dns: 114.114.114.114
        working_dir: /init_assets