version: '2'
networks:
  default:
    external:
       name: dble_test
services:
    dble-1:
        image: dble/dble_test_dble:latest
        container_name: dble-1
        hostname: dble-1
        privileged: true
        stdin_open: true
        tty: true
        #command: ["dble","1"]
        volumes:
            - /opt/dble-1:/init_assets
            - /opt/share:/share
        ports:
            - "7121:9066"
            - "7131:8066"
            - "7141:3307"
            - "7151:22"
        networks:
            default:
              ipv4_address: 172.100.9.1
              ipv6_address: 2001:3984:3989::11
        dns: 114.114.114.114
        working_dir: /opt
    dble-2:
        image: dble/dble_test_dble:latest
        container_name: dble-2
        hostname: dble-2
        privileged: true
        stdin_open: true
        tty: true
        #command: ["dble","2"]
        volumes:
            - /opt/dble-2:/init_assets
            - /opt/share:/share
        ports:
            - "7122:9066"
            - "7132:8066"
            - "7142:3307"
            - "7152:22"
        networks:
            default:
              ipv4_address: 172.100.9.2
              ipv6_address: 2001:3984:3989::12
        dns: 114.114.114.114
        working_dir: /opt
    dble-3:
        image: dble/dble_test_dble:latest
        container_name: dble-3
        hostname: dble-3
        privileged: true
        stdin_open: true
        tty: true
        #command: ["dble","3"]
        volumes:
            - /opt/dble-3:/init_assets
            - /opt/share:/share
        ports:
            - "7123:9066"
            - "7133:8066"
            - "7143:3307"
            - "7153:22"
        networks:
            default:
              ipv4_address: 172.100.9.3
              ipv6_address: 2001:3984:3989::13
        dns: 114.114.114.114
        working_dir: /opt
    mysql:
        image: dble/dble_test_mysql:latest
        container_name: mysql
        hostname: mysql
        privileged: true
        stdin_open: true
        tty: true
        #command: ["mysql","4"]
        volumes:
            - /opt/mysql:/init_assets
            - /opt/share:/share
        ports:
            - "7144:3307"
            - "7154:22"
        networks:
            default:
              ipv4_address: 172.100.9.4
              ipv6_address: 2001:3984:3989::14
        dns: 114.114.114.114
        working_dir: /opt
    mysql-master1:
        image: dble/dble_test_mysql:latest
        container_name: mysql-master1
        hostname: mysql-master1
        privileged: true
        stdin_open: true
        #command: ["mysql","5"]
        tty: true
        volumes:
            - /opt/mysql-master1:/init_assets
            - /opt/share:/share
        ports:
            - "7145:3307"
            - "7155:22"
        networks:
            default:
              ipv4_address: 172.100.9.5
              ipv6_address: 2001:3984:3989::15
        dns: 114.114.114.114
        working_dir: /opt
    mysql-master2:
        image: dble/dble_test_mysql:latest
        container_name: mysql-master2
        hostname: mysql-master2
        privileged: true
        stdin_open: true
        #command: ["mysql","6"]
        tty: true
        volumes:
            - /opt/mysql-master2:/init_assets
            - /opt/share:/share
        ports:
            - "7146:3307"
            - "7156:22"
        networks:
            default:
              ipv4_address: 172.100.9.6
              ipv6_address: 2001:3984:3989::16
        dns: 114.114.114.114
        working_dir: /opt
    behave:
        image: dble/dble_test_behave:latest
        container_name: behave
        hostname: behave
        privileged: true
        stdin_open: true
        tty: true
        volumes:
            - /opt/behave:/init_assets
            - /opt/share:/share
        networks:
            default:
              ipv4_address: 172.100.9.8
              ipv6_address: 2001:3984:3989::18
        dns: 114.114.114.114
        working_dir: /init_assets

    mysql8-master1:
        image: dble/dble_test_mysql:latest
        container_name: mysql8-master1
        hostname: mysql8-master1
        privileged: true
        stdin_open: true
        #command: ["mysql","9"]
        tty: true
        volumes:
        - /opt/mysql8-master1:/init_assets
        - /opt/share:/share
        ports:
        - "7241:3307"
        - "7251:22"
        networks:
            default:
                ipv4_address: 172.100.9.9
                ipv6_address: 2001:3984:3989::19
        dns: 114.114.114.114
        working_dir: /opt
    mysql8-master2:
        image: dble/dble_test_mysql:latest
        container_name: mysql8-master2
        hostname: mysql8-master2
        privileged: true
        stdin_open: true
        #command: ["mysql","10"]
        tty: true
        volumes:
        - /opt/mysql8-master2:/init_assets
        - /opt/share:/share
        ports:
        - "7242:3307"
        - "7252:22"
        networks:
            default:
                ipv4_address: 172.100.9.10
                ipv6_address: 2001:3984:3989::20
        dns: 114.114.114.114
        working_dir: /opt
    mysql8-slave1:
        image: dble/dble_test_mysql:latest
        container_name: mysql8-slave1
        hostname: mysql8-slave1
        privileged: true
        stdin_open: true
        #command: ["mysql","11"]
        tty: true
        volumes:
        - /opt/mysql8-slave1:/init_assets
        - /opt/share:/share
        ports:
        - "7243:3307"
        - "7253:22"
        networks:
            default:
                ipv4_address: 172.100.9.11
                ipv6_address: 2001:3984:3989::21
        dns: 114.114.114.114
        working_dir: /opt

    mysql8-slave2:
        image: dble/dble_test_mysql:latest
        container_name: mysql8-slave2
        hostname: mysql8-slave2
        privileged: true
        stdin_open: true
        #command: ["mysql","12"]
        tty: true
        volumes:
        - /opt/mysql8-slave2:/init_assets
        - /opt/share:/share
        ports:
        - "7244:3307"
        - "7254:22"
        networks:
            default:
                ipv4_address: 172.100.9.12
                ipv6_address: 2001:3984:3989::22
        dns: 114.114.114.114
        working_dir: /opt