[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "==1.4.2"
behave = "==1.2.6"
environs = "*"
paramiko = "*"
pyhamcrest = "*"
pymysql = "*"
pyyaml = "*"
allure-behave = "*"
lxml = "*"
pip = "*"
mysql = {connector = "*"}

[dev-packages]

[requires]
python_version = "3.8"