<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE dble:server SYSTEM "server.dtd">
<dble:server xmlns:dble="http://dble.cloud/">
	<system>
		<property name="serverPort">8066</property>
	</system>
	
	<user name="test">
		<property name="password">111111</property>
		<property name="schemas">schema1,schema2,schema3</property>
	</user>
	<user name="root">
		<property name="password">111111</property>
		<property name="manager">true</property>
	</user>

</dble:server>
