[env]
root_path=
sys=centos7

[ssh]
user=root
passwd=sshpass
port=22

[mysql]
ip=172.100.9.4
port=3306
user=test
passwd=111111

[dble]
install_path=/opt/
#here the use-passwd pair is equal to super user root
ip=172.100.9.1
user=test
passwd=111111
port=8066
manager_user=root
manager_passwd=111111
manager_port=9066

[dnode1]
ip=172.100.0.4
port=3306
user=test
passwd=test
db=db1

[dnode2]
ip=172.100.0.5
port=3306
user=test
passwd=test
db=db1

[dnode3]
ip=172.100.0.4
port=3306
user=test
passwd=test
db=db2

[dnode4]
ip=172.100.0.5
port=3306
user=test
passwd=test
db=db2

[result]
dir=result
pass_log= %(dir)s/
fail_log= %(dir)s/
warn_log= %(dir)s/
serious_warn_log= %(dir)s/
balance_log= %(dir)s/balance

[install]
mysql_dir=/usr/local/mysql/bin/mysql
ftp=ftp://10.186.18.90/actiontech-dble/qa/3.20.07.99/
save_path=dble_conf/sql_cover/
dble_save=/home/
fileName_local=Action_dble-0.3.5-DEV-20170413102308-linux.tar.gz
fileName_remove=actiontech-dble.tar.gz
server_name=dble

[centos6]
ip=10.186.23.12
container_name=dble.centos6-1

[conf]
conf_path=dble_conf/conf_template/
