<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE dble:server SYSTEM "server.dtd"><dble:server xmlns:dble="http://dble.cloud/">
	<system>
		<property name="useGlobleTableCheck">1</property>
		<property name="processors">1</property>
        <property name="processorExecutor">1</property>
	</system>
	
	<user name="test">
		<property name="password">111111</property>
		<property name="schemas">schema1</property>
	</user>
	<user name="root">
		<property name="password">111111</property>
		<property name="manager">true</property>
	</user>

</dble:server>